<mat-sidenav-container class="example-container">
  <mat-sidenav mode="push" opened=true>
    <a class="menuitem" routerLink="/home"> <mat-icon>home</mat-icon> Home </a>
    <a class="menuitem" routerLink="/product">
      <mat-icon>shoping</mat-icon> Product
    </a>
    <button mat-button class="menuitem logout">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
  <!-- <a routerLink="/issueform"><app-issueform></app-issueform></a>
  <a routerLink="/signin"><app-signin></app-signin></a> -->
</mat-sidenav-content>
</mat-sidenav-container>
