.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content: center;
}

.issuedetails {
  width: 50%;
  height: 100vh;
  background-color: whitesmoke;
  overflow: auto;
}

.activity {
  width: 50%;
  height: 100vh;
  background-color: whitesmoke;
  overflow: auto;
}
