.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    clear: both;
    justify-content: center;
}
.issuedetails{
    width: 800px;
    height: 450px;
    background-color:whitesmoke;
    overflow: scroll;
}
mat-card{
    text-align: center;
    width: auto;
}
mat-grid-tile{
    background-color: rgb(220, 202, 196);
}
.image{
    height: 25px;
    border-radius: 30px;
    margin: 5px;
}
