.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  width: auto;
  justify-content: center;
}
.issuedetails {
  width: 50%;
  height: 600px;
  background-color: whitesmoke;
  overflow: auto;
}
mat-card {
  text-align: left;
  width: auto;
  height: auto;
  background-color: white;
}

.image {
  height: 25px;
  border-radius: 30px;
  margin: 5px;
}
.projectdetails {
  width: 50%;
  height: 600px;
  background-color: whitesmoke;
  overflow:auto
}
.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  justify-content: left;
  height: 40vh;
  background-color: rgb(243, 242, 242);
  overflow:auto;
}
mat-card-actions {
  text-align: left;
  justify-content: left;
}
/* mat-select{
    width: 60px;
    
} */
/* mat-form-field{
    width: 70px;
} */
td{
    margin: 10px;
    padding: 20px;
}
.history{
  /* background-color: rgb(224, 224, 245); */
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 10px; */
  /* justify-content:space-around */
/* padding-top: 10px; */
}
.historydata{
  margin-top: 8px;
}
