.comment-image {
  width: 30px;
  border-radius: 30px;
  padding: 5px;
}

.comment-data-image {
  width: 25px;
  border-radius: 30px;
  padding: 5px;
}

.comment-user {
  font-size: 10px;
  margin-top: 3px;
}

.user-comment-data {
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 25px;
  border-radius: 30px;
  margin: 5px;
}

/* .history {
  background-color: rgb(224, 224, 245);
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
} */

/* .comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 228);
  margin: 5px;
  padding: 10px;
} */

/* .historydata {
  margin-top: 8px;
} */
