mat-grid-tile {
  background:white;
}
mat-grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}

.item{
    margin-left: 10%;
}
.index{
    margin-left: 0px;
}