mat-card-content{
  background:white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
  box-shadow: -5px 5px 5px rgb(150, 150, 231);
}
mat-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.item{
    margin-left: 10%;
}
.index{
    margin-left: 0px;
}
.title{
    color: blue;
    cursor: pointer;
}
mat-card-content:hover{
    box-shadow: -5px 5px 2px rgb(150, 150, 231);
}