.container{   
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;

}
.projectdetails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: inline-block;
    /* text-align: left;
    justify-content: left; */
    /* height: 200px; */
    /* overflow: scroll; */
    box-shadow: -5px 5px 5px rgb(164, 177, 225);

}
mat-card{
    height: auto;
    width: 40%;
    margin: 10px;
}
.issuedetails{
    height: auto;
    width: auto;

}

mat-card-actions{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 10%;

    justify-content:flex-start;
    /* align-items:center; */
    /* height: 200px; */
}
.oneissue{
    background-color: rgb(180, 187, 235);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.issuelist{
    height: 300px;
    overflow: scroll;
    box-shadow: -5px 5px 5px rgb(153, 168, 220);
}