mat-card{
    margin:20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: inline-block;
    width: 30%;
    height: 100px;
    cursor: pointer;
}
mat-card-title{

    text-align: center;
    /* align-items: center; */
}
